<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CARRITO</title>

    <!-- Adding Bootstrap  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- Adding Fontawesome  -->
    <link rel="stylesheet" href="vendor/fontawesome/all.min.css" />

    <!-- Adding Vue  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Adding own style  -->
    <link href="./css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a
            class="navbar-brand"
            :href="`index.html?shopping_car=${encodeURIComponent(JSON.stringify(car))}`"
          >
            <i class="fas fa-home"></i> HOME</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a
                  class="nav-link"
                  :href="`products.html?shopping_car=${encodeURIComponent(JSON.stringify(car))}`"
                  ><i class="fas fa-cubes"></i> PRODUCTOS</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  :href="`car.html?shopping_car=${encodeURIComponent(JSON.stringify(car))}`"
                  ><i class="fas fa-shopping-cart"></i> CARRITO
                  <span class="badge bg-danger" v-if="quantity_car >0"
                    >{{quantity_car}}</span
                  ></a
                >
              </li>
            </ul>
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Buscar"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Buscar
              </button>
            </form>
          </div>
        </div>
      </nav>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-light table-responsive car-table">
              <thead>
                <tr align="center">
                  <th>#</th>
                  <th>Producto</th>

                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>SubTotal</th>
                  <th>Quitar</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item,index) in car" :key="index">
                  <td>{{index+1}}</td>
                  <td>
                    {{item.nombre}}
                    <img
                      :src="'images/'+item.imagen"
                      class="card-img-top car-image"
                      :alt="item.imagen"
                    />
                  </td>

                  <td align="right">S/ {{item.precio.toFixed(2)}}</td>
                  <td align="center">{{item.cantidad_seleccionada}}</td>
                  <td align="right">
                    S/ {{(item.precio * item.cantidad_seleccionada).toFixed(2)}}
                  </td>
                  <td align="center">
                    <button
                      class="btn btn-danger"
                      type="button"
                      title="Retirar a carrito"
                      @click="Remove(item)"
                    >
                      <span class="icon">
                        <i class="fas fa-trash"></i>
                      </span>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4" align="right">TOTAL</td>
                  <td align="right">S/ {{total_car.toFixed(2)}}</td>
                  <td></td>
                </tr>
              </tfoot>
            </table>

            <div class="text-center mb-3">
              <button
                class="btn btn-primary"
                type="button"
                title="Realizar compra"
                @click="pay_mode = true"
              >
                <span class="icon">
                  <i class="fas fa-credit-card"></i>
                </span>
                <span class="text">REALIZAR COMPRA</span>
              </button>
            </div>

            <div class="bg-white p-3" v-if="pay_mode">
              <div class="container">
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"
                      >DIRECCIÓN DE ENVÍO</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                    />
                    <div id="emailHelp" class="form-text">
                      Ingrese la dirección donde recibirá el/los producto(s).
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"
                      >REFERENCIA DE DIRECCIÓN</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="exampleInputPassword1"
                    />
                  </div>
                  <div class="mb-3 form-check">
                    <input
                      type="checkbox"
                      class="form-check-input"
                      id="exampleCheck1"
                    />
                    <label class="form-check-label" for="exampleCheck1"
                      >Estoy de acuerdo con la política de envíos</label
                    >
                  </div>
                </form>
                <button class="btn btn-primary" @click="Pay">PAGAR</button>
                <button class="btn btn-danger">CANCELAR</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Adding Bootstrap JS  -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script>
      var app = new Vue({
        el: "#app",

        data() {
          return {
            car: [],
            pay_mode: false,
          };
        },
        computed: {
          total_car() {
            let sum = this.car.reduce((accumulator, currentValue) => {
              let subtotal =
                currentValue.cantidad_seleccionada * currentValue.precio;
              return accumulator + subtotal;
            }, 0);
            return sum;
          },

          quantity_car() {
            return this.car.length;
          },
        },
        created() {
          let urlParams = new URLSearchParams(window.location.search);
          let params = urlParams.get("shopping_car");

          if (params) {
            this.car = JSON.parse(decodeURIComponent(params));
          }
        },

        methods: {
          Remove(index) {
            let remove_confirm = confirm(
              "¿Deseas retirar este producto del carrito?"
            );
            if (remove_confirm) {
              this.car.splice(index, 1);
            }
          },

          Pay() {
            let pay_confirm = confirm("¿Deseas efectuar el pago?");
            console.log(pay_confirm);
            if (pay_confirm) {
              this.car = [];
              this.pay_mode = false;

              alert("PAGO EXITOSO");
            }
          },
        },
      });
    </script>
  </body>
</html>
