<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PRODUCTOS</title>

    <!-- Adding Bootstrap  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- Adding Fontawesome  -->
    <link rel="stylesheet" href="vendor/fontawesome/all.min.css" />

    <!-- Adding Vue  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Adding own style  -->
    <link href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a
            class="navbar-brand"
            :href="`index.html?shopping_car=${encodeURIComponent(JSON.stringify(car))}`"
          >
            <i class="fas fa-home"></i> HOME</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  :href="`products.html?shopping_car=${encodeURIComponent(JSON.stringify(car))}`"
                  ><i class="fas fa-cubes"></i> PRODUCTOS</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  :href="`car.html?shopping_car=${encodeURIComponent(JSON.stringify(car))}`"
                  ><i class="fas fa-shopping-cart"></i> CARRITO
                  <span class="badge bg-danger" v-if="quantity_car >0"
                    >{{quantity_car}}</span
                  ></a
                >
              </li>
            </ul>
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Buscar"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Buscar
              </button>
            </form>
          </div>
        </div>
      </nav>

      <div class="container products">
        <div class="row">
          <div class="col-md-3" v-for="(item,index) in products" :key="index">
            <div class="card">
              <img
                :src="'images/'+item.imagen"
                class="card-img-top product-image"
                :alt="item.imagen"
              />

              <div class="card-body row col-md-12">
                <div class="col-md-8">
                  <p
                    class="card-text"
                    style="font-size: 14px; font-weight: bolder"
                  >
                    {{ item.nombre}}
                  </p>
                  <p class="card-text">S/ {{ item.precio.toFixed(2)}}</p>
                  <p
                    class="card-text"
                    style="font-style: italic; font-size: 10px"
                  >
                    {{ item.stock}} unidad(es) en stock
                  </p>

                  <span>
                    <div
                      id="rating1"
                      class="star-rating"
                      role="rating"
                      data-rating="3"
                    >
                      <span
                        v-for="count in item.rating"
                        :key="count"
                        class="star"
                        :data-value="count"
                        >&#9733;</span
                      >
                    </div></span
                  >
                </div>
                <div class="col-md-4 text-center">
                  <label class="form-control-label">Cantidad</label>
                  <input
                    type="number"
                    class="form-control"
                    :max="item.stock"
                    min="0"
                    value="1"
                    v-model.number="item.cantidad_seleccionada"
                  />
                  <button
                    class="btn btn-success mt-2"
                    type="button"
                    title="Añadir a carrito"
                    @click="AddToCar(item)"
                  >
                    <span class="icon">
                      <i class="fas fa-cart-plus"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Adding Bootstrap JS  -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <script>
      var app = new Vue({
        el: "#app",

        data() {
          return {
            products: [],
            car: [],
          };
        },
        computed: {
          quantity_car() {
            return this.car.length;
          },
        },
        mounted() {
          this.products.push(
            {
              id: 1,
              nombre: "AUDIFONOS HX",
              marca: "HX",
              precio: 150,
              stock: 8,
              rating: 2,
              cantidad_seleccionada: 1,
              imagen: "audifonos_hx.jpg",
            },
            {
              id: 2,
              nombre: "COMPUTADORA GAMER",
              marca: "HP",
              precio: 3500,
              stock: 3,
              rating: 4,
              cantidad_seleccionada: 1,
              imagen: "computadora_gamer.jpg",
            },
            {
              id: 3,
              nombre: "LAPTOP HP",
              marca: "HP",
              precio: 3800,
              stock: 2,
              rating: 3,
              cantidad_seleccionada: 1,
              imagen: "laptop_hp.jpg",
            },
            {
              id: 4,
              nombre: "MAUS GAMER 1200 DPI",
              marca: "Aliensware",
              precio: 300,
              stock: 1,
              rating: 4,
              cantidad_seleccionada: 1,
              imagen: "maus_aliensware.jpg",
            },
            {
              id: 5,
              nombre: "MAUS GAMER 3200 DPI",
              marca: "CORSAIR",
              precio: 340,
              stock: 20,
              rating: 5,
              cantidad_seleccionada: 1,
              imagen: "maus_corsair.jpg",
            },
            {
              id: 6,
              nombre: "MAUS GAMER 1000 DPI",
              marca: "TALON",
              precio: 150,
              stock: 11,
              rating: 5,
              cantidad_seleccionada: 1,
              imagen: "maus_talon.jpg",
            },
            {
              id: 7,
              nombre: "MEMORIAS DDR4",
              marca: "HX",
              precio: 240,
              stock: 10,
              rating: 5,
              cantidad_seleccionada: 1,
              imagen: "memoria_ddr4.jpg",
            },
            {
              id: 8,
              nombre: "MICROFONO",
              marca: "EL GATO",
              precio: 399,
              stock: 9,
              rating: 5,
              cantidad_seleccionada: 1,
              imagen: "microfono_elgato.jpg",
            },
            {
              id: 9,
              nombre: "PROCESADOR I5",
              marca: "INTEL",
              precio: 500,
              stock: 11,
              rating: 1,
              cantidad_seleccionada: 1,
              imagen: "procesador_i5.jpg",
            },
            {
              id: 10,
              nombre: "TARJETA DE VIDEO",
              marca: "AMD 6500",
              precio: 2300,
              stock: 6,
              rating: 4,
              cantidad_seleccionada: 1,
              imagen: "tarjeta_de_video.jpg",
            },
            {
              id: 11,
              nombre: "MONITOR SAMSUNG",
              marca: "SAMSUNG",
              precio: 899,
              stock: 3,
              rating: 3,
              cantidad_seleccionada: 1,
              imagen: "monitor_samsung.jpg",
            },
            {
              id: 12,
              nombre: "NOTEBOOK THINKPAD",
              marca: "LENOVO",
              precio: 2400,
              stock: 2,
              rating: 4,
              cantidad_seleccionada: 1,
              imagen: "notebook_lenovo_thinkpad.jpg",
            },
            {
              id: 13,
              nombre: "TECLADO MECANICO K95",
              marca: "CORSAIR",
              precio: 349,
              stock: 4,
              rating: 5,
              cantidad_seleccionada: 1,
              imagen: "teclado_corsair_k95.jpg",
            },
            {
              id: 14,
              nombre: "MANDO INALAMBRICO",
              marca: "MSI",
              precio: 199,
              stock: 16,
              rating: 4,
              cantidad_seleccionada: 1,
              imagen: "mando_inalambrico_msi.jpg",
            },
            {
              id: 15,
              nombre: "TECLADO MECANICO",
              marca: "CORSAIR",
              precio: 360,
              stock: 15,
              rating: 5,
              cantidad_seleccionada: 1,
              imagen: "teclado_corsair.jpg",
            },
            {
              id: 16,
              nombre: "MANDO INALAMBRICO XBOX",
              marca: "MICROSOFT",
              precio: 360,
              stock: 12,
              rating: 5,
              cantidad_seleccionada: 1,
              imagen: "mando_inalambrico_xbox.jpg",
            }
          );
        },
        created() {
          const urlParams = new URLSearchParams(window.location.search);
          let params = urlParams.get("shopping_car");

          if (params) {
            this.car = JSON.parse(decodeURIComponent(params));
          }
        },

        methods: {
          AddToCar(item) {
            const add_confirm = confirm(
              "¿Deseas agregar este producto al carrito?"
            );
            if (add_confirm) {
              this.car.push(item);
              item.cantidad_seleccionada = 1;
            }
          },
        },
      });
    </script>
  </body>
</html>
